<div class="flex justify-end px-4">
    <div class="flex justify-center items-center p-4">
        <img src="https://blinkiesyay.neocities.org/blinkies/hobbies/rubix.gif" alt="Rubix Blinkie" class="w-32 h-32 rounded-full shadow-lg">
    </div>
    <div class="flex justify-center items-center p-4">
        <img src="https://tanukicomputing.neocities.org/buttons/88x31/dumbass.gif" alt="Dumb Webmaster" class="w-32 h-32 rounded-full shadow-lg">
    </div>
    <div class="flex justify-center items-center p-4">
        <img src="https://fustilugz.neocities.org/buttons/13/queer.png" alt="Queer Coded" class="w-32 h-32 rounded-full shadow-lg">
    </div>
    <div class="flex justify-center items-center p-4">
        <img src="https://tanukicomputing.neocities.org/buttons/88x31/design.png" alt="Graphic Design is my passion" class="w-32 h-32 rounded-full shadow-lg">
    </div>
    
</div>