<div class="flex items-center">
      <div class="gfm-embed items-center" data-url="https://www.gofundme.com/f/help-me-to-save-my-family-from-the-war-zone/widget/small?sharesheet=undefined&attribution_id=sl:a31cb52e-44e9-4501-bf60-71ab1a584068"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
      <p class="text-sm border border-gray-300 p-2">
        🍉 Mohammed from Gaza is stuck in a warzone. <br>
        He has two small children under two to provide for. <br>
        Please consider donating to his family's fundraiser.
      </p>
</div>
